h2 Email Confirmation
p Hello #{username}!
p Thank you for registering on our platform. Please click the link below to confirm your email address and activate your account:
p
  a(href=url) Confirm Email
p If you didn't create an account on our platform, please disregard this email.
p Best regards,
p Social-Network